.navbar{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-evenly;
    h1{ 
        font-size: 40px;
        color:rgb(88, 88, 200);
        span{
            color:aquamarine;
        }
    }
    .button{
        display: flex;
        gap: 30px;
          .col1{
                color: rgb(84, 84, 221);
                background-color: white;
                border: 1px solid rgb(71, 114, 187);
            }
          .col2{
                color: rgb(84, 84, 221);
                background-color: rgb(110, 143, 200);
                color: white;
                border: 1px solid rgb(71, 114, 187);
            }
          .col3{
                color: rgb(84, 84, 221);
                background-color: rgb(251, 48, 48);
                color: white;
                border: 1px solid rgb(239, 70, 57);
            }
            .col4{
                color: rgb(84, 84, 221);
                background-color: rgb(70, 181, 237);
                color: white;
                border: 1px solid rgb(71, 114, 187);
            }
            
        a{
            font-size: 20px;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            text-decoration: none;
        }
    }
    .logo
    {
        font-size: 30px;
        color: brown;
    }
}